/* Styles pour le contenu principal */
main {
    color: black;
    flex-grow: 1;
}

main .container {
    border-radius: 10px;
    /* Coins arrondis */
    background-color: #6b02777f;
    /* Couleur de fond */
    width: 80%;
    padding: 4%;
    /* Espace intérieur */
    margin: 6%;
    text-align: center;
    justify-content: center;
}

main h1 {
    width: 100%;
    text-align: center;
    justify-content: center;
    /* centre horizontalement */
    align-items: center;
}

.block {
    align-self: center;
    text-align: right;
    justify-content: center;
    /* centre horizontalement */
    align-items: center;
    display: grid;
    grid-template-columns: 30% 30%;
    grid-gap: 2%;
    grid-row-gap: 5%;
}

.validateButton {
    margin: 1%;
    display: inline-block;
    font-size: small;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-radius: 30px;
    background-color: #6b027750;

}
.validateButton:hover {
    outline: none;
    background-color: #6b02777f;
}

.recherche{
    width: 100%;
    background-color: aqua;
    border-radius: 15px;
}

input[type="file"]::file-selector-button {
    display: inline-block;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-radius: 0px;
    background-color: #f0f0f0;
}

input[type="file"]::file-selector-button:hover {
    background-color: #e0e0e0;
}

input[type="text"]::file-selector-button {
    width: 50%;
    display: inline-block;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-radius: 0px;
    background-color: #f0f0f0;
}

input[type="text"]::file-selector-button:hover {
    background-color: #e0e0e0;
}