/* Styles pour le contenu principal */
main {
    color: black;
    display: flex;
    flex-grow: 1;
}

.container{
    border-radius: 10px; /* Coins arrondis */
    background-color: #6b027781; /* Couleur de fond */
    width:700px;
    padding: 20px; /* Espace intérieur */
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


.block{
	justify-content: center;
	align-items: center;
}

.ligne{
	width: 50%;
}

.gridRessource{
    text-align: right;
    display: grid;
    grid-template-columns: 300px 300px;
    grid-gap: 20px;
    grid-row-gap: 10px;
}
.importation{
    text-align:justify;
    display: grid;
    grid-template-columns: 49% 49%;
    grid-gap: 2%;
}