/* Styles pour le contenu principal */
main {
    color: black;
    flex-grow: 1;
}

main .container {
    border-radius: 10px;
    /* Coins arrondis */
    background-color: #6b02777f;
    /* Couleur de fond */
    width: 90%;
    padding: 20px;
    /* Espace intérieur */
    margin: 5%;
    text-align: center;
    justify-content: center;
}

main h1 {
    width: 100%;
    text-align: center;
    justify-content: center;
    /* centre horizontalement */
    align-items: center;
}

.block {
    align-self: center;
    text-align: right;
    justify-content: center;
    /* centre horizontalement */
    align-items: center;
    display: grid;
    grid-template-columns: 20% 20%;
    grid-gap: 2%;
    grid-row-gap: 5%;
}

.validateButton {
    margin: 1%;
    display: inline-block;
    font-size: small;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-radius: 30px;
    background-color: #6b027750;

}
.validateButton:hover {
    outline: none;
    background-color: #6b02777f;
}