/* Styles pour le contenu principal */
main {
    text-align: center;
    color: black;
}

div {
    align-self: center;
    justify-content: center;
    align-items: center;
}

.container {
    border-radius: 10px;
    background-color: #6b027760;
    width: 1200px;
    padding: 30px;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    
}


.block {
    justify-content: center;
    align-items: center;
}

.ligne {
    width: 50%;
}

.gridRessource {
    font-weight: bold;
    margin-top: 70px;
    margin-bottom: 100px;
    text-align: right;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
    grid-row-gap: 10px;
    justify-content: center;
    align-items: center;
}

.divImportation {
    text-align: justify;
    display: grid;
    grid-template-columns: 49% 49%;
    grid-gap: 2%;
}

  
input[type="file"]::file-selector-button {
    display: inline-block;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-radius: 0px;
    background-color: #f0f0f0;
}

input[type="file"]::file-selector-button:hover {
    background-color: #e0e0e0;
}

.validateButton {
    display: inline-block;
    font-size: small;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-radius: 30px;
    background-color: #6b027750;
}

.validateButton:hover {
    outline: none;
    background-color: #6b02777f;
}

table {
    border-collapse: collapse;
  }
  td, th {
    border: 1px solid #dddddd;
    background-color: #ffffff;
    text-align: left;
    padding: 8px;
  }
  
  th {
    background-color: #f2f2f2;
  }
  th:empty{
    background:none;
    border: none;
  }